
*background: #dd2233
*foreground: #ffeedd
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!! black dark/light
*color0: #220000
*color8: #220011

!! red dark/light
*color1: #dd2222
*color9: #dd2233

!! green dark/light
*color2: #556644
*color10: #888844

!! yellow dark/light
*color3: #ffee00
*color11: #ffcc88

!! blue dark/light
*color4: #333355
*color12: #664466

!! magenta dark/light
*color5: #664466
*color13: #997788

!! cyan dark/light
*color6: #774444
*color14: #aa6666

!! white dark/light
*color7: #aa9988
*color15: #ffeedd
!---------------------
URxvt.font: xft:dina:size=9

URxvt.letterSpace:-1
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.perl-ext: default,matcher
URxvt.matcher.button: 1
URxvt.visualBell: false
URxvt.depth: 32
urxvt*background: rgba:0000/0000/0000/c800
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.geometry:             120x30
URxvt.fading:               0
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0
URxvt.scrollStyle:          rxvt
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false
URxvt.pointerBlank:         true





! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1d252b, #1d252b, #b8bcbf
rofi.font:bitbuntufull 8
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.location:0
rofi.lines: 4
rofi.width: 300
rofi.yoffset: 26
rofi.padding: 32
rofi.color-normal:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
rofi.color-urgent:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
rofi.color-active:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
