

#define base00 #1d252b
#define base01 #303940
#define base02 #3f4b54
#define base03 #6c7175
#define base04 #888f94
#define base05 #b8bcbf
#define base06 #d7dde0
#define base07 #ffffff
#define base08 #eb6e63
#define base09 #e0894a
#define base0A #bfaf60
#define base0B #5c9e61
#define base0C #4f9e91
#define base0D #6f9ebf
#define base0E #a688b5
#define base0F #c9879d

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07

! URxvt Config
!---------------------
URxvt.font: xft:bitbuntufull:size=8
URxvt.boldFont:
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.internalBorder: 30
URxvt.perl-ext: default,matcher
URxvt.matcher.button: 1
URxvt.url-launcher: /usr/bin/inox
URxvt.visualBell: false
URxvt.depth: 32
URxvt.iso14755: false
URxvt.iso14755_52: false




! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1d252b, #1d252b, #b8bcbf
rofi.font:bitbuntufull 8
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.location:0
rofi.lines: 4
rofi.width: 300
rofi.yoffset: 26
rofi.padding: 32
rofi.color-normal:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
rofi.color-urgent:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211
rofi.color-active:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:ffefa211